---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";
import BtnLink from "../shared/BtnLink.astro";

type ServicesProps = {
    title: string;
    description: string;
    icon: string;
};
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title> Current Projects </Title>
            <Paragraph> Our current exciting projects. </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                services.slice(0, 3).map((service: ServicesProps) => {
                    return (
                        <Service
                            title={service.title}
                            description={service.description}
                            icon={service.icon}
                        />
                    );
                })
            }
        </div>
        <div
            class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
        >
            <BtnLink
                href="/projects"
                text="View all projects"
                variant={"primary"}
                className={"min-w-max text-white"}
            />
        </div>
    </Container>
</section>
